---
import CalEmbed from "@/components/cal-embed.astro";
import Layout from "@/layouts/default.astro";
---

<Layout
	class="container mt-8"
>
	<h1 class="text-5xl md:text-7xl font-bold">
		Contact
	</h1>
	<CalEmbed/>
</Layout>
