---
import Layout from "@/layouts/default.astro";
---

<Layout>
	<div class="h-96 flex flex-col justify-center gap-2">
		<h1
			class="text-5xl md:text-7xl font-black"
		>
			<span class="retro-drop-shadow-primary">Stoodioul creativ</span> pentru totul web.
		</h1>
		<div>
			<a
				href="/contact"
				class="btn btn-primary"
			>
				Hai sa vorbim
			</a>
			<a
				href="/about"
				class="btn"
			>
				Mai multe
			</a>
		</div>
	</div>
</Layout>
