---
import Layout from "@/layouts/default.astro";
import { AwardIcon, ComponentIcon, PaintbrushVerticalIcon, ShieldCheckIcon } from "@lucide/astro";
import { PriceCalculator } from "@/components/price-calculator";
---

<Layout>
	<div class="h-96 flex flex-col justify-center gap-2 container">
		<h1
			class="text-5xl md:text-7xl font-black"
		>
			<span class="retro-drop-shadow-primary">Stoodioul creativ</span> pentru totul web.
		</h1>
		<div>
			<a
				href="/contact"
				class="btn btn-primary"
			>
				Hai sa vorbim
			</a>
			<a
				href="/about"
				class="btn"
			>
				Mai multe
			</a>
		</div>
	</div>

	<div class="wave-box py-32 bg-primary">
		<div class="container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2">
			<div class="card bg-base-100">
				<div class="card-body">
					<h2 class="card-title">
						<ComponentIcon/>
						Design
					</h2>
					<p>
						Folosind principii standarde de design
						și experiență utilizatorului, creăm experiențe digitale
						care îmbunătățesc vizibilitatea și conversia.
					</p>
				</div>
			</div>

			<div class="card bg-base-100">
				<div class="card-body">
					<h2 class="card-title">
						<ShieldCheckIcon/>
						Securitate
					</h2>
					<p>
						Securitatea este una dintre cele mai importante aspecte,
						vom asigura securitatea site-ului tau prin audite de securitate,
						scanari frecvente si actualizari.
					</p>
				</div>
			</div>

			<div class="card bg-base-100">
				<div class="card-body">
					<h2 class="card-title">
						<PaintbrushVerticalIcon/>
						Customizare
					</h2>
					<p>
						Prin dashboard-ul oferit de noi, puteti actualiza continutul site-ului
						si adauga diferite elemente pe pagina dupa cum doriti.
					</p>
				</div>
			</div>

			<div class="card bg-base-100">
				<div class="card-body">
					<h2 class="card-title">
						<AwardIcon/>
						Preturi
					</h2>
					<p>
						Datorita arhitecturii noastre eficiente, putem oferi preturi competitive.
						Noi nu compromitem calitatea pentru a reduce costurile.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container mt-16">
		<h2
			class="text-5xl font-bold mb-2"
		>
			Calculator de preturi
		</h2>
		<PriceCalculator client:load/>
	</div>
</Layout>
