---
import Logo from "@/assets/logo.svg";
---

<footer
	class="border-t-4 overflow-hidden"
>
	<div class="container p-4">
		<p>
			STOODIO &copy; 2025 Savin Angel-Mario
		</p>
		<Logo
			class="w-full h-auto -mb-[25vw]"
		/>
	</div>
</footer>
