---
import Steps from "@/assets/layered-steps.svg";
import Logo from "@/assets/logo.svg";

const currentYear = new Date().getFullYear();
---

<Steps
	class="w-full h-64"
/>
<footer
	class="bg-primary text-primary-content overflow-hidden"
>
	<div class="container p-4">
		<b>
			STOODIO &copy; {currentYear} Savin Angel-Mario
		</b>
		<div class="footer sm:footer-horizontal">
			<nav>
				<h6 class="footer-title">Legal</h6>
				<a href="/privacy" class="link link-hover">TESTConfidentialitate</a>
				<a href="/third-parties" class="link link-hover">TESTTerte cu care lucram</a>
			</nav>
			<nav>
				<h6 class="footer-title">Social</h6>
				<a href="https://instagram.com/stoodioro" class="link link-hover">TESTInstagram</a>
				<a href="https://facebook.com/stoodioro" class="link link-hover">TESTFacebook</a>
			</nav>
		</div>
		<Logo
			class="w-full h-auto mb-[-25vw]"
		/>
	</div>
</footer>
