---
import Logo from "@/assets/logo.svg";
---

<div class="h-16"></div>

<nav
	class="bg-base-100 border-b-4 border-base-content p-2 fixed z-50 top-0 left-0 right-0 flex justify-between items-center"
>
	<a
		href="/"
		class=""
	>
		<Logo
			class="w-auto h-10"
		/>
	</a>
	<a class="btn btn-primary" href="/contact">
		Contact
	</a>
</nav>
