---
import "@/styles/global.css";
import "@fontsource/geist-sans/400";
import "@fontsource/geist-sans/700";
import "@fontsource/geist-sans/900";
import logo from "@/assets/logo.svg";
import Navbar from "@/components/navbar.astro";
import Footer from "@/components/footer.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
	class?: string;
	title?: string;
	frontmatter?: Omit<Props, "frontmatter">;
}
const props = Astro.props.frontmatter ?? Astro.props;

const mdClassName = "!container prose prose-neutral lg:prose-lg my-4";
---

<html lang="ro" class="bg-primary">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={logo.src} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>
			{props.title ? `${props.title} · ` : null}
			STOODIO
		</title>
		<ClientRouter/>
	</head>
	<body
		class="flex flex-col"
	>
		<Navbar/>
		<main class:list={["flex-1 bg-base-100", Astro.props.frontmatter ? mdClassName : "", props.class]}>
			<slot/>
		</main>
		<Footer/>
	</body>
</html>
